C	0	1800	I	I	S	#Repos
C	100	2040	I	A	I	#Precharge
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	400	300	C	A	I	#Fast charge
C	0	60	I	C	I	#Repos et mesure
C	100	480	A	A	I	#Top-off
C	6	1800	A	A	S	#Maintenance
C	0	300	I	I	I	#Repos
D	200	15000	A	I	A	#Décharge	
